<!DOCTYPE html>

<html>
  <head>
    <link href="/__goggles__/style.css" rel="stylesheet" type="text/css">
    <title>Goggles for <%= @uri %></title>

    <script type="text/javascript"
            src="/__goggles__/jquery.js"></script>

    <script type="text/javascript"
            src="/__goggles__/prettyprint.js"></script>
  </head>

  <body>
    <div id="header">
      <h1><%= "#@status: " if @status > 200%> <%= @uri %></h1>
    </div>

    <div id="json">
    </div>

    <script type="text/javascript">
      var gogglesJSON = <%= @json %>;

      $(prettyPrint(gogglesJSON, { maxDepth: 10, styles: {} }))
        .appendTo($("#json"));
    </script>
  </body>
</html>
